

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .navbar{
      z-index: 2;
      position: relative;
  }
  .viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .listi {
    list-style: none;
    width: 100%;
  }
  .listi li{
    display: block;
    float: left;
    width: 33%;
  }
  .sliki {
    width:100%;
    margin:0;
    overflow: hidden;
    background: #000;
    
}

.sliki img{
    opacity: 0.7;
    width:100;
    height: auto;
    transform: scale(1.15);
    transition: transform 1s;
}

.sliki img:hover{
    transform: scale(1.03);
    opacity:1;
}
.dimeska img{
  opacity: 1;  
height: 100%;
width: 100%;

}

a {
  color:green;
}
.ime {
  position: absolute;
  text-align: center;
  
  
}